// Override and add customized styles in this file.
//
// You can also create SCSS files in the app/assets/stylesheets/custom/
// folder and they will be loaded automatically.

.auth-page {
  .footer {
    margin-top: 0;
  }
}

.auth-image {
  background: none;
  background-repeat: no-repeat;
  background-size: cover;
  color: $white;

  border-right: 2px solid $brand;

  @include breakpoint(medium) {
    min-height: $line-height * 42;
  }

  h1 {
    margin-top: $line-height;

    a {
      color: inherit;
      display: block;
      text-align: center;

      @include breakpoint(medium) {
        display: inline-block;
        text-align: left;
      }
    }
  }
}

.top-bar {
  background-color: $white !important;

  .menu > li {
    display: block;
    width: 100%;

    @include breakpoint(medium) {
      width: auto;
    }

    a {
      color: $brand !important;
      line-height: inherit;
      padding-left: 0;

      @include breakpoint(medium) {
        font-size: $small-font-size;
        padding: rem-calc(8) rem-calc(16);
      }
    }

    .button {
      background: none;
      background-color: $brand !important;
      color: $white !important;
      text-align: left;

      @include breakpoint(medium) {
        @include brand-text;
        background: $body-background;
        text-align: center;
      }
    }
  }
  .top-bar-title {
    line-height: $line-height;
    margin-right: 0;

    a img {
      height: rem-calc(80);
      margin: 0;
      width: auto;
    }
  }
}

.subnavigation {
  background-color: $brand !important;

  a {
    color: $white;

    @include breakpoint(medium) {
      display: block;
      font-weight: bold;
      width: auto;

      &:hover {
        color: $white;
      }
    }

    &:focus {
      z-index: 1;
    }

    &.is-active {
      color: $white !important;

      @include breakpoint(medium) {
        @include brand-text;
        border-bottom: 2px solid;
        margin-bottom: 1px;
      }
    }
  }
}

.home-page .seagenda {
  @include full-width-border(bottom, 24px solid $brand);
  img {
    margin-bottom: 40px;
  }
}

footer {
  color: $white;
  p {
    color: $white;
  }
  a,
  a:active,
  a:focus {
    color: $white;
    text-decoration: underline;
  }
}

.footer {
  background: $brand;
}

.subfooter {
  border-top: 1px solid $text-light;
  font-size: $small-font-size;
  padding-top: $line-height;
  ul {
    margin: 0;
  }
  .left-element {
    a {
      text-decoration: none;
      font-weight: 800;
      &:hover {
        text-decoration: underline;
        color: white;
      }
    }
  }
  .middle-element {
    display: flex;
    justify-content: center;
    a {
      text-decoration: none;
      font-weight: 400;
      &:hover {
        text-decoration: underline;
        color: white;
      }
    }
  }
  .right-element {
    .social {
      padding: 0;
      width: 100%;
      ul {
        font-size: 14px;
        a {
          font-size: rem-calc(14);
          &:hover {
            text-decoration: underline;
            color: white;
          }
        }
        li:first-child {
          a {
            margin-left: 0 !important;
          }
        }
      }
    }
  }
}
